@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #BC3908, #F6AA1C);
}

header{
    padding: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.logo-site{
    height: 60px;
}

.header-esquerda{
    display: flex;
    gap: 10px;
    align-items: center;
}

h1{
    color: white;
    font-size: 48px;
    text-decoration: underline;
}

.header-direita{
    display: flex;
    width: 30%;
    align-items: center;
}

.input{
    width: 75%;
    height: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input::placeholder{
    font-size: 16px;
}

.btn{
    height: 50%;
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.itemschecks{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.checkitem{
        background: white;
        display: flex;
        padding: 15px;
        width: 50%;
        justify-content: space-between;
        align-items: center;
}

.checkitem > p{
    font-size: 24px;
}

.btn_check{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
}

.btn_check > i {
    font-size: 30px;
}

.btn_check > .ri-delete-bin-line:active{
    color: red;
}


@media only screen and (max-width: 1000px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header-direita{
        width: 100%;
    }

    .input{
        width: 100%;
        height: 50px;
    }

    .btn{
        height: 50px;
    }

    .checkitem{
        width: 100%;
    }
}